<!DOCTYPE html>
<html lang="tr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Raporlar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body style="background: #eee">
<div class="container" style="padding: 20px">

    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Tüm Raporlar</li>
        </ol>
    </nav>

    <div class="d-flex justify-content-between">
        <a href="/report/add" class="btn btn-primary">Rapor ekle </a>
        <a href="/report/search" class="btn btn-dark">Ara</a>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
                    data-bs-toggle="dropdown" aria-expanded="false">
                Tarihe Göre Sıralama
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                <li><a th:class="'dropdown-item '+${!orderStatus ? 'active': ''}"
                       href="/report/?orderAsc=false">Önce En Yeniler</a></li>

                <li><a th:class="'dropdown-item '+${orderStatus ? 'active': ''}"
                       href="/report/?orderAsc=true">Önce En Eskiler</a></li>
            </ul>
        </div>
        <form method="post" action="/logout">
            <input type="hidden"
                   th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}"/>
            <button class="btn btn-danger" type="submit">Çıkış Yap</button>
        </form>

        <div th:if="${reportList == null}">
            <p>Kayıtlı rapor bulunamadı</p>
        </div>

    </div>


    <div class="container" th:if="${reportList != null}" style="margin-top: 20px">
        <div class="row row-cols-1 ">
            <div>
                <div class="accordion" id="accordion">
                    <div class="accordion-item" th:each="report: ${reportList}">
                        <h2 class="accordion-header" th:id="'heading'+${report.getFileNum()}">
                            <button class="accordion-button collapsed" type="button" aria-expanded="false"
                                    th:text="${report.getDiagnosisTitle()}"
                                    data-bs-toggle="collapse"
                                    data-th-attr=
                                            "data-bs-target='#collapse'+${report.getFileNum()},
                                             aria-controls='collapse'+${report.getFileNum()}"
                            >

                            </button>
                        </h2>
                        <div th:id="'collapse'+${report.getFileNum()}" class="accordion-collapse collapse"
                             data-th-attr="aria-labelledby='heading'+${report.getFileNum()}"
                             data-bs-parent="#accordion">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="row">
                                            <p class="text-capitalize"
                                               th:text="'Hasta Adı Soyadı: '+ ${report.getPatient().getName()} + ' '+ ${report.getPatient().getLastName()}"></p>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="row">
                                            <p class="text-capitalize" style="text-align: center"
                                               th:text="'Laborant Adı Soyadı: '+ ${report.getLaborant().getName()} + ' '+ ${report.laborant.getLastName()}"></p>
                                            <a th:href="'/report/detail/'+${report.getFileNum()}"
                                               class="btn btn-primary">Detaylar</a>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <p class="text-capitalize" style="text-align: right"
                                               th:text="'Oluşturulma Tarihi: '+ ${report.getFormattedDate()}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>
