<!DOCTYPE html>
<html lang="tr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<a href="/report" class="btn btn-outline-dark">Tüm Raporlar</a>

<div class="container">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                    Laborant Adı Soyadı İle
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <form method="post" action="/report/search" enctype="multipart/form-data">

                        <input type="text" class="input-group-text" placeholder="Laborant Adı" name="laborantName"
                               required>
                        <input type="text" class="input-group-text" placeholder="Laborant Soyadı"
                               name="laborantLastName" required>

                        <input type="submit" class="btn btn-outline-dark" value="Ara">
                    </form>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Hasta Adı Soyadı İle
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <form method="post" action="/report/search" enctype="multipart/form-data">
                        <input type="text" class="input-group-text" placeholder="Hasta Adı" name="patientName" required>
                        <input type="text" class="input-group-text" placeholder="Hasta Soyadı" name="patientLastName"
                               required>

                        <input type="submit" class="btn btn-outline-dark" value="Ara">
                    </form>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Hasta Kimlik Numarası İle
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <form method="post" action="/report/search" enctype="multipart/form-data">
                        <input type="text" class="input-group-text" placeholder="Hasta Kimlik No"
                               name="patientIdentityNum" required>

                        <input type="submit" class="btn btn-outline-dark" value="Ara">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:if="${reports != null}">
    <div th:each="report: ${reports}">
        <p th:text="${report.getDiagnosisTitle()}"></p>

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>
</html>